In [1]:
import pandas as pd
import numpy as np
from tqdm.auto import tqdm, trange
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LogisticRegression
from pymystem3 import Mystem
mystem = Mystem()

In [2]:

df_res = pd.read_csv(r'C:/Users/Jora/Desktop/trademarks-2022/smalldata.csv',sep=';',encoding='ANSI')

In [3]:
import string
import nltk
import nltk
nltk.download('stopwords')
stopwords = nltk.corpus.stopwords.words('russian')
def remove_punctuation(text):
    return "".join([ch if ch not in string.punctuation else ' ' for ch in text])

def remove_numbers(text):
    return ''.join([i if not i.isdigit() else ' ' for i in text])

import re
def remove_multiple_spaces(text):
    return re.sub(r'\s+', ' ', text, flags=re.I)

from nltk.stem import *
from nltk.corpus import stopwords
from pymystem3 import Mystem
from string import punctuation
mystem = Mystem() 

russian_stopwords=stopwords.words("russian")
russian_stopwords.extend(['…', '«', '»', '...'])
def lemmatize_text(text):
    tokens = mystem.lemmatize(text.lower())
    tokens = [token for token in tokens if token not in russian_stopwords and token != " "]
    text = " ".join(tokens)
    return text

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Jora\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [4]:
preproccessing = lambda text: (remove_multiple_spaces(remove_numbers(remove_punctuation(text))))
df_res['preproccessed'] = list(map(preproccessing, df_res['OPISANIE']))

In [5]:
prep_text = [remove_multiple_spaces(remove_numbers(remove_punctuation(text.lower()))) for text in tqdm(df_res['preproccessed'])]

  0%|          | 0/100749 [00:00<?, ?it/s]

In [6]:
df_res['text_prep'] = prep_text
df_res

,TNVED,OPISANIE,DATA,preproccessed,text_prep
0,101,"ЛОШАДЬ ЖИВАЯ ПРОГУЛОЧНАЯ, ПОРОДИСТАЯ, НЕПЛЕМЕН...",03.09.2021,ЛОШАДЬ ЖИВАЯ ПРОГУЛОЧНАЯ ПОРОДИСТАЯ НЕПЛЕМЕННА...,лошадь живая прогулочная породистая неплеменна...
1,101,"ЛОШАДЬ ЖИВАЯ ПРОГУЛОЧНАЯ, ПОРОДИСТАЯ, НЕПЛЕМЕН...",03.09.2021,ЛОШАДЬ ЖИВАЯ ПРОГУЛОЧНАЯ ПОРОДИСТАЯ НЕПЛЕМЕННА...,лошадь живая прогулочная породистая неплеменна...
2,101,"ЛОШАДЬ ЖИВАЯ ПРОГУЛОЧНАЯ, ПОРОДИСТАЯ, НЕПЛЕМЕН...",03.09.2021,ЛОШАДЬ ЖИВАЯ ПРОГУЛОЧНАЯ ПОРОДИСТАЯ НЕПЛЕМЕННА...,лошадь живая прогулочная породистая неплеменна...
3,101,"ЛОШАДЬ ЖИВАЯ ПРОГУЛОЧНАЯ, ПОРОДИСТАЯ, НЕПЛЕМЕН...",03.09.2021,ЛОШАДЬ ЖИВАЯ ПРОГУЛОЧНАЯ ПОРОДИСТАЯ НЕПЛЕМЕННА...,лошадь живая прогулочная породистая неплеменна...
4,101,"ЖИВЫЕ ЖИВОТНЫЕ, ЛОШАДИ ПОЛЬЗОВАТЕЛЬНЫЕ, НЕ ЧИС...",02.09.2021,ЖИВЫЕ ЖИВОТНЫЕ ЛОШАДИ ПОЛЬЗОВАТЕЛЬНЫЕ НЕ ЧИСТО...,живые животные лошади пользовательные не чисто...
...,...,...,...,...,...
100744,2853,ДИСТИЛЛИРОВАННАЯ И КОНДУКТОМЕТРИЧЕСКАЯ ВОДА И ...,14.09.2021,ДИСТИЛЛИРОВАННАЯ И КОНДУКТОМЕТРИЧЕСКАЯ ВОДА И ...,дистиллированная и кондуктометрическая вода и ...
100745,2853,ДИСТИЛЛИРОВАННАЯ И КОНДУКТОМЕТРИЧЕСКАЯ ВОДА И ...,14.09.2021,ДИСТИЛЛИРОВАННАЯ И КОНДУКТОМЕТРИЧЕСКАЯ ВОДА И ...,дистиллированная и кондуктометрическая вода и ...
100746,2853,СОЕДИНЕНИЯ НЕОРГАНИЧЕСКИЕ:4-Х ДЮЙМОВЫЕ АРСЕНИД...,15.09.2021,СОЕДИНЕНИЯ НЕОРГАНИЧЕСКИЕ Х ДЮЙМОВЫЕ АРСЕНИД Г...,соединения неорганические х дюймовые арсенид г...
100747,2853,ДИСТИЛЛИРОВАННАЯ И КОНДУКТОМЕТРИЧЕСКАЯ ВОДА И ...,15.09.2021,ДИСТИЛЛИРОВАННАЯ И КОНДУКТОМЕТРИЧЕСКАЯ ВОДА И ...,дистиллированная и кондуктометрическая вода и ...
100748,2853,ДИСТИЛЛИРОВАННАЯ И КОНДУКТОМЕТРИЧЕСКАЯ ВОДА И ...,16.09.2021,ДИСТИЛЛИРОВАННАЯ И КОНДУКТОМЕТРИЧЕСКАЯ ВОДА И ...,дистиллированная и кондуктометрическая вода и ...

In [7]:
from nltk.stem.snowball import SnowballStemmer 
from nltk import word_tokenize
import nltk
nltk.download('punkt')
stemmer = SnowballStemmer("russian")

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Jora\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [8]:
russian_stopwords = stopwords.words("russian")
russian_stopwords.extend(['…', '«', '»', '...', 'т.д.', 'т', 'д','а','и'])

In [9]:
from nltk import word_tokenize

stemmed_texts_list = []
for text in tqdm(df_res['text_prep']):
    tokens = word_tokenize(text)    
    stemmed_tokens = [stemmer.stem(token) for token in tokens if token not in russian_stopwords]
    text = " ".join(stemmed_tokens)
    stemmed_texts_list.append(text)

df_res['text_stem'] = stemmed_texts_list

  0%|          | 0/100749 [00:00<?, ?it/s]

In [10]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Jora\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [11]:
def remove_stop_words(text):
    tokens = word_tokenize(text) 
    tokens = [token for token in tokens if token not in russian_stopwords and token != ' ']
    return " ".join(tokens)

In [12]:
from nltk import word_tokenize

sw_texts_list = []
for text in tqdm(df_res['text_prep']):
    tokens = word_tokenize(text)    
    tokens = [token for token in tokens if token not in russian_stopwords and token != ' ']
    text = " ".join(tokens)
    sw_texts_list.append(text)

df_res['text_sw'] = sw_texts_list
df_res.drop(['DATA','preproccessed','text_prep'],axis=1,inplace=True)

  0%|          | 0/100749 [00:00<?, ?it/s]

In [13]:
df_res

,TNVED,OPISANIE,text_stem,text_sw
0,101,"ЛОШАДЬ ЖИВАЯ ПРОГУЛОЧНАЯ, ПОРОДИСТАЯ, НЕПЛЕМЕН...",лошад жив прогулочн породист неплемен спортивн...,лошадь живая прогулочная породистая неплеменна...
1,101,"ЛОШАДЬ ЖИВАЯ ПРОГУЛОЧНАЯ, ПОРОДИСТАЯ, НЕПЛЕМЕН...",лошад жив прогулочн породист неплемен спортивн...,лошадь живая прогулочная породистая неплеменна...
2,101,"ЛОШАДЬ ЖИВАЯ ПРОГУЛОЧНАЯ, ПОРОДИСТАЯ, НЕПЛЕМЕН...",лошад жив прогулочн породист неплемен спортивн...,лошадь живая прогулочная породистая неплеменна...
3,101,"ЛОШАДЬ ЖИВАЯ ПРОГУЛОЧНАЯ, ПОРОДИСТАЯ, НЕПЛЕМЕН...",лошад жив прогулочн породист неплемен спортивн...,лошадь живая прогулочная породистая неплеменна...
4,101,"ЖИВЫЕ ЖИВОТНЫЕ, ЛОШАДИ ПОЛЬЗОВАТЕЛЬНЫЕ, НЕ ЧИС...",жив животн лошад пользовательн чистопородн пле...,живые животные лошади пользовательные чистопор...
...,...,...,...,...
100744,2853,ДИСТИЛЛИРОВАННАЯ И КОНДУКТОМЕТРИЧЕСКАЯ ВОДА И ...,дистиллирова кондуктометрическ вод вод аналоги...,дистиллированная кондуктометрическая вода вода...
100745,2853,ДИСТИЛЛИРОВАННАЯ И КОНДУКТОМЕТРИЧЕСКАЯ ВОДА И ...,дистиллирова кондуктометрическ вод вод аналоги...,дистиллированная кондуктометрическая вода вода...
100746,2853,СОЕДИНЕНИЯ НЕОРГАНИЧЕСКИЕ:4-Х ДЮЙМОВЫЕ АРСЕНИД...,соединен неорганическ х дюймов арсенид галиев ...,соединения неорганические х дюймовые арсенид г...
100747,2853,ДИСТИЛЛИРОВАННАЯ И КОНДУКТОМЕТРИЧЕСКАЯ ВОДА И ...,дистиллирова кондуктометрическ вод вод аналоги...,дистиллированная кондуктометрическая вода вода...
100748,2853,ДИСТИЛЛИРОВАННАЯ И КОНДУКТОМЕТРИЧЕСКАЯ ВОДА И ...,дистиллирова кондуктометрическ вод вод аналоги...,дистиллированная кондуктометрическая вода вода...

In [14]:
import nltk

w_tokenizer = nltk.tokenize.WhitespaceTokenizer()
lemmatizer = nltk.stem.WordNetLemmatizer()

In [15]:
def lemmatize_text(text):
    spis=[lemmatizer.lemmatize(w) for w in w_tokenizer.tokenize(text)]
    str_spis=' '.join(spis)
    return str_spis

In [16]:
df_res['text_lemm']=df_res['text_sw'].apply(lemmatize_text)

In [17]:
df_res

,TNVED,OPISANIE,text_stem,text_sw,text_lemm
0,101,"ЛОШАДЬ ЖИВАЯ ПРОГУЛОЧНАЯ, ПОРОДИСТАЯ, НЕПЛЕМЕН...",лошад жив прогулочн породист неплемен спортивн...,лошадь живая прогулочная породистая неплеменна...,лошадь живая прогулочная породистая неплеменна...
1,101,"ЛОШАДЬ ЖИВАЯ ПРОГУЛОЧНАЯ, ПОРОДИСТАЯ, НЕПЛЕМЕН...",лошад жив прогулочн породист неплемен спортивн...,лошадь живая прогулочная породистая неплеменна...,лошадь живая прогулочная породистая неплеменна...
2,101,"ЛОШАДЬ ЖИВАЯ ПРОГУЛОЧНАЯ, ПОРОДИСТАЯ, НЕПЛЕМЕН...",лошад жив прогулочн породист неплемен спортивн...,лошадь живая прогулочная породистая неплеменна...,лошадь живая прогулочная породистая неплеменна...
3,101,"ЛОШАДЬ ЖИВАЯ ПРОГУЛОЧНАЯ, ПОРОДИСТАЯ, НЕПЛЕМЕН...",лошад жив прогулочн породист неплемен спортивн...,лошадь живая прогулочная породистая неплеменна...,лошадь живая прогулочная породистая неплеменна...
4,101,"ЖИВЫЕ ЖИВОТНЫЕ, ЛОШАДИ ПОЛЬЗОВАТЕЛЬНЫЕ, НЕ ЧИС...",жив животн лошад пользовательн чистопородн пле...,живые животные лошади пользовательные чистопор...,живые животные лошади пользовательные чистопор...
...,...,...,...,...,...
100744,2853,ДИСТИЛЛИРОВАННАЯ И КОНДУКТОМЕТРИЧЕСКАЯ ВОДА И ...,дистиллирова кондуктометрическ вод вод аналоги...,дистиллированная кондуктометрическая вода вода...,дистиллированная кондуктометрическая вода вода...
100745,2853,ДИСТИЛЛИРОВАННАЯ И КОНДУКТОМЕТРИЧЕСКАЯ ВОДА И ...,дистиллирова кондуктометрическ вод вод аналоги...,дистиллированная кондуктометрическая вода вода...,дистиллированная кондуктометрическая вода вода...
100746,2853,СОЕДИНЕНИЯ НЕОРГАНИЧЕСКИЕ:4-Х ДЮЙМОВЫЕ АРСЕНИД...,соединен неорганическ х дюймов арсенид галиев ...,соединения неорганические х дюймовые арсенид г...,соединения неорганические х дюймовые арсенид г...
100747,2853,ДИСТИЛЛИРОВАННАЯ И КОНДУКТОМЕТРИЧЕСКАЯ ВОДА И ...,дистиллирова кондуктометрическ вод вод аналоги...,дистиллированная кондуктометрическая вода вода...,дистиллированная кондуктометрическая вода вода...
100748,2853,ДИСТИЛЛИРОВАННАЯ И КОНДУКТОМЕТРИЧЕСКАЯ ВОДА И ...,дистиллирова кондуктометрическ вод вод аналоги...,дистиллированная кондуктометрическая вода вода...,дистиллированная кондуктометрическая вода вода...

In [18]:
X = df_res['text_lemm']
y = df_res['TNVED']

In [28]:
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state = 42)

In [20]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.feature_extraction.text import TfidfTransformer
from sklearn.feature_extraction.text import CountVectorizer

In [31]:
my_tags=y.unique()
my_tags

array([ 101,  102,  103,  104,  105,  106,  201,  202,  203,  204,  205,
        206,  207,  209,  210,  301,  302,  303,  304,  305,  306,  307,
        308,  401,  402,  403,  404,  405,  406,  407,  408,  409,  410,
        501,  504,  505,  507,  508,  510,  511,  601,  602,  603,  604,
        701,  702,  703,  704,  705,  706,  707,  708,  709,  710,  711,
        712,  713,  714,  801,  802,  803,  804,  805,  806,  807,  808,
        809,  810,  811,  813,  814,  901,  902,  903,  904,  905,  906,
        907,  908,  909,  910, 1001, 1002, 1003, 1004, 1005, 1006, 1008,
       1101, 1102, 1103, 1104, 1105, 1106, 1107, 1108, 1109, 1201, 1202,
       1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1214, 1301,
       1302, 1401, 1404, 1502, 1504, 1505, 1507, 1508, 1509, 1510, 1511,
       1512, 1513, 1514, 1515, 1516, 1517, 1518, 1520, 1521, 1522, 1601,
       1602, 1604, 1605, 1701, 1702, 1703, 1704, 1801, 1802, 1803, 1804,
       1805, 1806, 1901, 1902, 1903, 1904, 1905, 2001, 2002, 2003, 2004,
       2005, 2006, 2007, 2008, 2009, 2101, 2102, 2103, 2104, 2105, 2106,
       2201, 2202, 2203, 2204, 2205, 2206, 2207, 2208, 2209, 2301, 2302,
       2303, 2304, 2306, 2308, 2309, 2401, 2402, 2403, 2501, 2502, 2503,
       2504, 2505, 2506, 2507, 2508, 2509, 2510, 2511, 2512, 2513, 2514,
       2515, 2516, 2517, 2518, 2519, 2520, 2521, 2522, 2523, 2524, 2525,
       2526, 2529, 2530, 2601, 2602, 2603, 2604, 2606, 2607, 2608, 2610,
       2611, 2613, 2614, 2615, 2616, 2617, 2619, 2620, 2621, 2701, 2702,
       2703, 2704, 2706, 2707, 2708, 2709, 2710, 2711, 2712, 2713, 2714,
       2715, 2716, 2801, 2803, 2804, 2805, 2806, 2807, 2808, 2809, 2810,
       2811, 2812, 2813, 2814, 2815, 2816, 2817, 2818, 2819, 2820, 2821,
       2822, 2823, 2824, 2825, 2826, 2827, 2828, 2829, 2830, 2831, 2832,
       2833, 2834, 2835, 2836, 2837, 2839, 2840, 2841, 2842, 2843, 2844,
       2845, 2846, 2847, 2849, 2850, 2852, 2853], dtype=int64)

In [23]:
logreg = Pipeline([('vect', CountVectorizer()),
                ('tfidf', TfidfTransformer()),
                ('clf', LogisticRegression(n_jobs=1, C=1e5)),
               ])

In [24]:
logreg.fit(X, y)

C:\Users\Jora\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:763: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Pipeline(steps=[('vect', CountVectorizer()), ('tfidf', TfidfTransformer()),
                ('clf', LogisticRegression(C=100000.0, n_jobs=1))])

In [23]:
# import pickle
# with open('my_dumped_classifier.pkl', 'rb') as fid:
#     logreg = pickle.load(fid)

In [34]:
# from sklearn.metrics import accuracy_score

# print('accuracy %s' % accuracy_score(y_pred, y_test))

accuracy 0.9712158808933002

In [214]:
tech_text = "Вода природная Сенежская, 6 шт. по 1,5 л"

In [215]:
tech_text = remove_multiple_spaces(remove_numbers(remove_punctuation(tech_text.lower())))
tech_text = remove_stop_words(tech_text)
tech_text = lemmatize_text(tech_text)
tech_text

'вода природная сенежская шт л'

In [216]:
tech_pred = logreg.predict_proba([tech_text])
res=pd.DataFrame([np.round(tech_pred[0],4),(my_tags).astype(float)])
res

,0,1,2,3,4,5,6,7,8,9,...,283,284,285,286,287,288,289,290,291,292
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,101.0,102.0,103.0,104.0,105.0,106.0,201.0,202.0,203.0,204.0,...,2842.0,2843.0,2844.0,2845.0,2846.0,2847.0,2849.0,2850.0,2852.0,2853.0

In [217]:
zeros = []
ones = []
for index, row in res.iterrows():
    if index == 0:
        maxes = np.sort(row)[len(row)-5:]
        
for column in res.columns:
    if res[column][0] in maxes:
        print(res[column])

0      0.0
1    101.0
Name: 0, dtype: float64
0      0.0
1    102.0
Name: 1, dtype: float64
0      0.0
1    103.0
Name: 2, dtype: float64
0      0.0
1    104.0
Name: 3, dtype: float64
0      0.0
1    105.0
Name: 4, dtype: float64
0      0.0
1    106.0
Name: 5, dtype: float64
0      0.0
1    201.0
Name: 6, dtype: float64
0      0.0
1    202.0
Name: 7, dtype: float64
0      0.0
1    203.0
Name: 8, dtype: float64
0      0.0
1    204.0
Name: 9, dtype: float64
0      0.0
1    205.0
Name: 10, dtype: float64
0      0.0
1    206.0
Name: 11, dtype: float64
0      0.0
1    207.0
Name: 12, dtype: float64
0      0.0
1    209.0
Name: 13, dtype: float64
0      0.0
1    210.0
Name: 14, dtype: float64
0      0.0
1    301.0
Name: 15, dtype: float64
0      0.0
1    302.0
Name: 16, dtype: float64
0      0.0
1    303.0
Name: 17, dtype: float64
0      0.0
1    304.0
Name: 18, dtype: float64
0      0.0
1    305.0
Name: 19, dtype: float64
0      0.0
1    306.0
Name: 20, dtype: float64
0      0.0
1    307.0
Name: 21, dtype: float64
0      0.0
1    308.0
Name: 22, dtype: float64
0      0.0
1    401.0
Name: 23, dtype: float64
0      0.0
1    402.0
Name: 24, dtype: float64
0      0.0
1    403.0
Name: 25, dtype: float64
0      0.0
1    404.0
Name: 26, dtype: float64
0      0.0
1    405.0
Name: 27, dtype: float64
0      0.0
1    406.0
Name: 28, dtype: float64
0      0.0
1    407.0
Name: 29, dtype: float64
0      0.0
1    408.0
Name: 30, dtype: float64
0      0.0
1    409.0
Name: 31, dtype: float64
0      0.0
1    410.0
Name: 32, dtype: float64
0      0.0
1    501.0
Name: 33, dtype: float64
0      0.0
1    504.0
Name: 34, dtype: float64
0      0.0
1    505.0
Name: 35, dtype: float64
0      0.0
1    507.0
Name: 36, dtype: float64
0      0.0
1    508.0
Name: 37, dtype: float64
0      0.0
1    510.0
Name: 38, dtype: float64
0      0.0
1    511.0
Name: 39, dtype: float64
0      0.0
1    601.0
Name: 40, dtype: float64
0      0.0
1    602.0
Name: 41, dtype: float64
0      0.0
1    603.0
Name: 42, dtype: float64
0      0.0
1    604.0
Name: 43, dtype: float64
0      0.0
1    701.0
Name: 44, dtype: float64
0      0.0
1    702.0
Name: 45, dtype: float64
0      0.0
1    703.0
Name: 46, dtype: float64
0      0.0
1    704.0
Name: 47, dtype: float64
0      0.0
1    705.0
Name: 48, dtype: float64
0      0.0
1    706.0
Name: 49, dtype: float64
0      0.0
1    707.0
Name: 50, dtype: float64
0      0.0
1    708.0
Name: 51, dtype: float64
0      0.0
1    709.0
Name: 52, dtype: float64
0      0.0
1    710.0
Name: 53, dtype: float64
0      0.0
1    711.0
Name: 54, dtype: float64
0      0.0
1    712.0
Name: 55, dtype: float64
0      0.0
1    713.0
Name: 56, dtype: float64
0      0.0
1    714.0
Name: 57, dtype: float64
0      0.0
1    801.0
Name: 58, dtype: float64
0      0.0
1    802.0
Name: 59, dtype: float64
0      0.0
1    803.0
Name: 60, dtype: float64
0      0.0
1    804.0
Name: 61, dtype: float64
0      0.0
1    805.0
Name: 62, dtype: float64
0      0.0
1    806.0
Name: 63, dtype: float64
0      0.0
1    807.0
Name: 64, dtype: float64
0      0.0
1    808.0
Name: 65, dtype: float64
0      0.0
1    809.0
Name: 66, dtype: float64
0      0.0
1    810.0
Name: 67, dtype: float64
0      0.0
1    811.0
Name: 68, dtype: float64
0      0.0
1    813.0
Name: 69, dtype: float64
0      0.0
1    814.0
Name: 70, dtype: float64
0      0.0
1    901.0
Name: 71, dtype: float64
0      0.0
1    902.0
Name: 72, dtype: float64
0      0.0
1    903.0
Name: 73, dtype: float64
0      0.0
1    904.0
Name: 74, dtype: float64
0      0.0
1    905.0
Name: 75, dtype: float64
0      0.0
1    906.0
Name: 76, dtype: float64
0      0.0
1    907.0
Name: 77, dtype: float64
0      0.0
1    908.0
Name: 78, dtype: float64
0      0.0
1    909.0
Name: 79, dtype: float64
0      0.0
1    910.0
Name: 80, dtype: float64
0       0.0
1    1001.0
Name: 81, dtype: float64
0       0.0
1    1002.0
Name: 82, dtype: float64
0       0.0
1    1003.0
Name: 83, dtype: float64
0       0.0
1    1004.0
Name: 84, dtype: float64
0       0.0
1    1005.0
Name: 85, dtype: float64
0       0.0
1    1006.0
Name: 86, dtype: float64
0       0.0
1    1008.0
Name: 87, dtype: float64
0       0.0
1    1101.0
Name: 88, dtype: float64
0       0.0
1    1102.0
Name: 89, dtype: float64
0       0.0
1    1103.0
Name: 90, dtype: float64
0       0.0
1    1104.0
Name: 91, dtype: float64
0       0.0
1    1105.0
Name: 92, dtype: float64
0       0.0
1    1106.0
Name: 93, dtype: float64
0       0.0
1    1107.0
Name: 94, dtype: float64
0       0.0
1    1108.0
Name: 95, dtype: float64
0       0.0
1    1109.0
Name: 96, dtype: float64
0       0.0
1    1201.0
Name: 97, dtype: float64
0       0.0
1    1202.0
Name: 98, dtype: float64
0       0.0
1    1204.0
Name: 99, dtype: float64
0       0.0
1    1205.0
Name: 100, dtype: float64
0       0.0
1    1206.0
Name: 101, dtype: float64
0       0.0
1    1207.0
Name: 102, dtype: float64
0       0.0
1    1208.0
Name: 103, dtype: float64
0       0.0
1    1209.0
Name: 104, dtype: float64
0       0.0
1    1210.0
Name: 105, dtype: float64
0       0.0
1    1211.0
Name: 106, dtype: float64
0       0.0
1    1212.0
Name: 107, dtype: float64
0       0.0
1    1214.0
Name: 108, dtype: float64
0       0.0
1    1301.0
Name: 109, dtype: float64
0       0.0
1    1302.0
Name: 110, dtype: float64
0       0.0
1    1401.0
Name: 111, dtype: float64
0       0.0
1    1404.0
Name: 112, dtype: float64
0       0.0
1    1502.0
Name: 113, dtype: float64
0       0.0
1    1504.0
Name: 114, dtype: float64
0       0.0
1    1505.0
Name: 115, dtype: float64
0       0.0
1    1507.0
Name: 116, dtype: float64
0       0.0
1    1508.0
Name: 117, dtype: float64
0       0.0
1    1509.0
Name: 118, dtype: float64
0       0.0
1    1510.0
Name: 119, dtype: float64
0       0.0
1    1511.0
Name: 120, dtype: float64
0       0.0
1    1512.0
Name: 121, dtype: float64
0       0.0
1    1513.0
Name: 122, dtype: float64
0       0.0
1    1514.0
Name: 123, dtype: float64
0       0.0
1    1515.0
Name: 124, dtype: float64
0       0.0
1    1516.0
Name: 125, dtype: float64
0       0.0
1    1517.0
Name: 126, dtype: float64
0       0.0
1    1518.0
Name: 127, dtype: float64
0       0.0
1    1520.0
Name: 128, dtype: float64
0       0.0
1    1521.0
Name: 129, dtype: float64
0       0.0
1    1522.0
Name: 130, dtype: float64
0       0.0
1    1601.0
Name: 131, dtype: float64
0       0.0
1    1602.0
Name: 132, dtype: float64
0       0.0
1    1604.0
Name: 133, dtype: float64
0       0.0
1    1605.0
Name: 134, dtype: float64
0       0.0
1    1701.0
Name: 135, dtype: float64
0       0.0
1    1702.0
Name: 136, dtype: float64
0       0.0
1    1703.0
Name: 137, dtype: float64
0       0.0
1    1704.0
Name: 138, dtype: float64
0       0.0
1    1801.0
Name: 139, dtype: float64
0       0.0
1    1802.0
Name: 140, dtype: float64
0       0.0
1    1803.0
Name: 141, dtype: float64
0       0.0
1    1804.0
Name: 142, dtype: float64
0       0.0
1    1805.0
Name: 143, dtype: float64
0       0.0
1    1806.0
Name: 144, dtype: float64
0       0.0
1    1901.0
Name: 145, dtype: float64
0       0.0
1    1902.0
Name: 146, dtype: float64
0       0.0
1    1903.0
Name: 147, dtype: float64
0       0.0
1    1904.0
Name: 148, dtype: float64
0       0.0
1    1905.0
Name: 149, dtype: float64
0       0.0
1    2001.0
Name: 150, dtype: float64
0       0.0
1    2002.0
Name: 151, dtype: float64
0       0.0
1    2003.0
Name: 152, dtype: float64
0       0.0
1    2004.0
Name: 153, dtype: float64
0       0.0
1    2005.0
Name: 154, dtype: float64
0       0.0
1    2006.0
Name: 155, dtype: float64
0       0.0
1    2007.0
Name: 156, dtype: float64
0       0.0
1    2008.0
Name: 157, dtype: float64
0       0.0
1    2009.0
Name: 158, dtype: float64
0       0.0
1    2101.0
Name: 159, dtype: float64
0       0.0
1    2102.0
Name: 160, dtype: float64
0       0.0
1    2103.0
Name: 161, dtype: float64
0       0.0
1    2104.0
Name: 162, dtype: float64
0       0.0
1    2105.0
Name: 163, dtype: float64
0       0.0
1    2106.0
Name: 164, dtype: float64
0       1.0
1    2201.0
Name: 165, dtype: float64
0       0.0
1    2202.0
Name: 166, dtype: float64
0       0.0
1    2203.0
Name: 167, dtype: float64
0       0.0
1    2204.0
Name: 168, dtype: float64
0       0.0
1    2205.0
Name: 169, dtype: float64
0       0.0
1    2206.0
Name: 170, dtype: float64
0       0.0
1    2207.0
Name: 171, dtype: float64
0       0.0
1    2208.0
Name: 172, dtype: float64
0       0.0
1    2209.0
Name: 173, dtype: float64
0       0.0
1    2301.0
Name: 174, dtype: float64
0       0.0
1    2302.0
Name: 175, dtype: float64
0       0.0
1    2303.0
Name: 176, dtype: float64
0       0.0
1    2304.0
Name: 177, dtype: float64
0       0.0
1    2306.0
Name: 178, dtype: float64
0       0.0
1    2308.0
Name: 179, dtype: float64
0       0.0
1    2309.0
Name: 180, dtype: float64
0       0.0
1    2401.0
Name: 181, dtype: float64
0       0.0
1    2402.0
Name: 182, dtype: float64
0       0.0
1    2403.0
Name: 183, dtype: float64
0       0.0
1    2501.0
Name: 184, dtype: float64
0       0.0
1    2502.0
Name: 185, dtype: float64
0       0.0
1    2503.0
Name: 186, dtype: float64
0       0.0
1    2504.0
Name: 187, dtype: float64
0       0.0
1    2505.0
Name: 188, dtype: float64
0       0.0
1    2506.0
Name: 189, dtype: float64
0       0.0
1    2507.0
Name: 190, dtype: float64
0       0.0
1    2508.0
Name: 191, dtype: float64
0       0.0
1    2509.0
Name: 192, dtype: float64
0       0.0
1    2510.0
Name: 193, dtype: float64
0       0.0
1    2511.0
Name: 194, dtype: float64
0       0.0
1    2512.0
Name: 195, dtype: float64
0       0.0
1    2513.0
Name: 196, dtype: float64
0       0.0
1    2514.0
Name: 197, dtype: float64
0       0.0
1    2515.0
Name: 198, dtype: float64
0       0.0
1    2516.0
Name: 199, dtype: float64
0       0.0
1    2517.0
Name: 200, dtype: float64
0       0.0
1    2518.0
Name: 201, dtype: float64
0       0.0
1    2519.0
Name: 202, dtype: float64
0       0.0
1    2520.0
Name: 203, dtype: float64
0       0.0
1    2521.0
Name: 204, dtype: float64
0       0.0
1    2522.0
Name: 205, dtype: float64
0       0.0
1    2523.0
Name: 206, dtype: float64
0       0.0
1    2524.0
Name: 207, dtype: float64
0       0.0
1    2525.0
Name: 208, dtype: float64
0       0.0
1    2526.0
Name: 209, dtype: float64
0       0.0
1    2529.0
Name: 210, dtype: float64
0       0.0
1    2530.0
Name: 211, dtype: float64
0       0.0
1    2601.0
Name: 212, dtype: float64
0       0.0
1    2602.0
Name: 213, dtype: float64
0       0.0
1    2603.0
Name: 214, dtype: float64
0       0.0
1    2604.0
Name: 215, dtype: float64
0       0.0
1    2606.0
Name: 216, dtype: float64
0       0.0
1    2607.0
Name: 217, dtype: float64
0       0.0
1    2608.0
Name: 218, dtype: float64
0       0.0
1    2610.0
Name: 219, dtype: float64
0       0.0
1    2611.0
Name: 220, dtype: float64
0       0.0
1    2613.0
Name: 221, dtype: float64
0       0.0
1    2614.0
Name: 222, dtype: float64
0       0.0
1    2615.0
Name: 223, dtype: float64
0       0.0
1    2616.0
Name: 224, dtype: float64
0       0.0
1    2617.0
Name: 225, dtype: float64
0       0.0
1    2619.0
Name: 226, dtype: float64
0       0.0
1    2620.0
Name: 227, dtype: float64
0       0.0
1    2621.0
Name: 228, dtype: float64
0       0.0
1    2701.0
Name: 229, dtype: float64
0       0.0
1    2702.0
Name: 230, dtype: float64
0       0.0
1    2703.0
Name: 231, dtype: float64
0       0.0
1    2704.0
Name: 232, dtype: float64
0       0.0
1    2706.0
Name: 233, dtype: float64
0       0.0
1    2707.0
Name: 234, dtype: float64
0       0.0
1    2708.0
Name: 235, dtype: float64
0       0.0
1    2709.0
Name: 236, dtype: float64
0       0.0
1    2710.0
Name: 237, dtype: float64
0       0.0
1    2711.0
Name: 238, dtype: float64
0       0.0
1    2712.0
Name: 239, dtype: float64
0       0.0
1    2713.0
Name: 240, dtype: float64
0       0.0
1    2714.0
Name: 241, dtype: float64
0       0.0
1    2715.0
Name: 242, dtype: float64
0       0.0
1    2716.0
Name: 243, dtype: float64
0       0.0
1    2801.0
Name: 244, dtype: float64
0       0.0
1    2803.0
Name: 245, dtype: float64
0       0.0
1    2804.0
Name: 246, dtype: float64
0       0.0
1    2805.0
Name: 247, dtype: float64
0       0.0
1    2806.0
Name: 248, dtype: float64
0       0.0
1    2807.0
Name: 249, dtype: float64
0       0.0
1    2808.0
Name: 250, dtype: float64
0       0.0
1    2809.0
Name: 251, dtype: float64
0       0.0
1    2810.0
Name: 252, dtype: float64
0       0.0
1    2811.0
Name: 253, dtype: float64
0       0.0
1    2812.0
Name: 254, dtype: float64
0       0.0
1    2813.0
Name: 255, dtype: float64
0       0.0
1    2814.0
Name: 256, dtype: float64
0       0.0
1    2815.0
Name: 257, dtype: float64
0       0.0
1    2816.0
Name: 258, dtype: float64
0       0.0
1    2817.0
Name: 259, dtype: float64
0       0.0
1    2818.0
Name: 260, dtype: float64
0       0.0
1    2819.0
Name: 261, dtype: float64
0       0.0
1    2820.0
Name: 262, dtype: float64
0       0.0
1    2821.0
Name: 263, dtype: float64
0       0.0
1    2822.0
Name: 264, dtype: float64
0       0.0
1    2823.0
Name: 265, dtype: float64
0       0.0
1    2824.0
Name: 266, dtype: float64
0       0.0
1    2825.0
Name: 267, dtype: float64
0       0.0
1    2826.0
Name: 268, dtype: float64
0       0.0
1    2827.0
Name: 269, dtype: float64
0       0.0
1    2828.0
Name: 270, dtype: float64
0       0.0
1    2829.0
Name: 271, dtype: float64
0       0.0
1    2830.0
Name: 272, dtype: float64
0       0.0
1    2831.0
Name: 273, dtype: float64
0       0.0
1    2832.0
Name: 274, dtype: float64
0       0.0
1    2833.0
Name: 275, dtype: float64
0       0.0
1    2834.0
Name: 276, dtype: float64
0       0.0
1    2835.0
Name: 277, dtype: float64
0       0.0
1    2836.0
Name: 278, dtype: float64
0       0.0
1    2837.0
Name: 279, dtype: float64
0       0.0
1    2839.0
Name: 280, dtype: float64
0       0.0
1    2840.0
Name: 281, dtype: float64
0       0.0
1    2841.0
Name: 282, dtype: float64
0       0.0
1    2842.0
Name: 283, dtype: float64
0       0.0
1    2843.0
Name: 284, dtype: float64
0       0.0
1    2844.0
Name: 285, dtype: float64
0       0.0
1    2845.0
Name: 286, dtype: float64
0       0.0
1    2846.0
Name: 287, dtype: float64
0       0.0
1    2847.0
Name: 288, dtype: float64
0       0.0
1    2849.0
Name: 289, dtype: float64
0       0.0
1    2850.0
Name: 290, dtype: float64
0       0.0
1    2852.0
Name: 291, dtype: float64
0       0.0
1    2853.0
Name: 292, dtype: float64

In [218]:
data_res=pd.DataFrame()
data_res['class']=my_tags
data_res['predict']=np.round(tech_pred[0],4)
data_res.head(10)
#data_res.groupby('class').agg({'predict':pd.Series.argmax})

   class  predict
0    101      0.0
1    102      0.0
2    103      0.0
3    104      0.0
4    105      0.0
5    106      0.0
6    201      0.0
7    202      0.0
8    203      0.0
9    204      0.0

In [219]:
data_res.pivot_table(['class'], 
['predict'], aggfunc='max')

         class
predict
0.0       2853
1.0       2201

In [220]:
import pickle
with open('tnved_class.pkl', 'wb') as fid:
    pickle.dump(logreg, fid)

293