In [4]:
import pandas as pd

In [5]:
path = r'C:\Users\zhiti\Documents\GitHub\Frontier-Control\backend\filter\data\user_dataframe.csv'

In [6]:
df = pd.read_csv(path, encoding='mbcs', sep=';')
df

        TNVED                                           OPISANIE        DATA
0         101  ЛОШАДЬ ЖИВАЯ ПРОГУЛОЧНАЯ, ПОРОДИСТАЯ, НЕПЛЕМЕН...  03.09.2021
1         101  ЛОШАДЬ ЖИВАЯ ПРОГУЛОЧНАЯ, ПОРОДИСТАЯ, НЕПЛЕМЕН...  03.09.2021
2         101  ЛОШАДЬ ЖИВАЯ ПРОГУЛОЧНАЯ, ПОРОДИСТАЯ, НЕПЛЕМЕН...  03.09.2021
3         101  ЛОШАДЬ ЖИВАЯ ПРОГУЛОЧНАЯ, ПОРОДИСТАЯ, НЕПЛЕМЕН...  03.09.2021
4         101  ЖИВЫЕ ЖИВОТНЫЕ, ЛОШАДИ ПОЛЬЗОВАТЕЛЬНЫЕ, НЕ ЧИС...  02.09.2021
...       ...                                                ...         ...
100744   2853  ДИСТИЛЛИРОВАННАЯ И КОНДУКТОМЕТРИЧЕСКАЯ ВОДА И ...  14.09.2021
100745   2853  ДИСТИЛЛИРОВАННАЯ И КОНДУКТОМЕТРИЧЕСКАЯ ВОДА И ...  14.09.2021
100746   2853  СОЕДИНЕНИЯ НЕОРГАНИЧЕСКИЕ:4-Х ДЮЙМОВЫЕ АРСЕНИД...  15.09.2021
100747   2853  ДИСТИЛЛИРОВАННАЯ И КОНДУКТОМЕТРИЧЕСКАЯ ВОДА И ...  15.09.2021
100748   2853  ДИСТИЛЛИРОВАННАЯ И КОНДУКТОМЕТРИЧЕСКАЯ ВОДА И ...  16.09.2021

[100749 rows x 3 columns]

In [9]:
df2 = df[['TNVED', 'OPISANIE']] 
df2

        TNVED                                           OPISANIE
0         101  ЛОШАДЬ ЖИВАЯ ПРОГУЛОЧНАЯ, ПОРОДИСТАЯ, НЕПЛЕМЕН...
1         101  ЛОШАДЬ ЖИВАЯ ПРОГУЛОЧНАЯ, ПОРОДИСТАЯ, НЕПЛЕМЕН...
2         101  ЛОШАДЬ ЖИВАЯ ПРОГУЛОЧНАЯ, ПОРОДИСТАЯ, НЕПЛЕМЕН...
3         101  ЛОШАДЬ ЖИВАЯ ПРОГУЛОЧНАЯ, ПОРОДИСТАЯ, НЕПЛЕМЕН...
4         101  ЖИВЫЕ ЖИВОТНЫЕ, ЛОШАДИ ПОЛЬЗОВАТЕЛЬНЫЕ, НЕ ЧИС...
...       ...                                                ...
100744   2853  ДИСТИЛЛИРОВАННАЯ И КОНДУКТОМЕТРИЧЕСКАЯ ВОДА И ...
100745   2853  ДИСТИЛЛИРОВАННАЯ И КОНДУКТОМЕТРИЧЕСКАЯ ВОДА И ...
100746   2853  СОЕДИНЕНИЯ НЕОРГАНИЧЕСКИЕ:4-Х ДЮЙМОВЫЕ АРСЕНИД...
100747   2853  ДИСТИЛЛИРОВАННАЯ И КОНДУКТОМЕТРИЧЕСКАЯ ВОДА И ...
100748   2853  ДИСТИЛЛИРОВАННАЯ И КОНДУКТОМЕТРИЧЕСКАЯ ВОДА И ...

[100749 rows x 2 columns]

In [15]:
df2[:100].to_csv('test.csv')

In [ ]:
def normalize(numbers):
    data = str(numbers)
    if len(data) != 
df.apply()